@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono&display=swap');

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 9s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  17% {
    top: 0;
  }
  20% {
    top: -1.2em;
  }
  37% {
    top: -1.2em;
  }
  40% {
    top: -2.4em;
  }
  57% {
    top: -2.4em;
  }
  60% {
    top: -3.6em;
  }
  77% {
    top: -3.6em;
  }
  80% {
    top: -4.8em;
  }
  97% {
    top: -4.8em;
  }
  99.99% {
    top: -6em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quantico', sans-serif;
}

p, a {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: black
}

@tailwind base;
@tailwind components;
@tailwind utilities;


